<div class="columns large-12">

    <div class="columns large-12">
        <button class="secondary small right" ng-click="backToCategories()">
            Back to categories
        </button>
        <h4>Category: {{chosenCategory}}</h4>
        <message></message>
    </div>

    <div class="control-panel columns large-12">
        <div class="columns large-3">
            <div class="columns large-6 small-6">
                <input name="start-limit"
                       ng-model="startLimit"
                       type="number"
                       min="1"
                       max="{{endLimit}}"
                       />
            </div>
            <div class="columns large-6 small-6">
                <input name="end-limit"
                       ng-model="endLimit"
                       type="number"
                       min="{{startLimit}}"
                       max="{{decks.length}}"
                       />
            </div>
        </div>

        <div class="columns large-6">
            <div class="columns large-9 small-9">
                <span class="left columns large-4 small-4" style="text-align: right;"><strong>Sort:</strong></span>
                <select name="order-by" ng-model="resultOrder" class="columns large-8 small-8">
                    <option value="name">Name</option>
                    <option value="created">Created time</option>
                    <option value="updated">Last update</option>
                </select>
            </div>

            <div class="left columns large-3 small-3">
                <div class="inline left">
                    <label for="reverse">Reverse&nbsp;</label>
                </div>
                <div>
                    <input type="checkbox" name="reverse" value="ON" ng-model="reverseBool"/>
                </div>
            </div>
        </div>

        <div class="columns large-3">
            <input type="search" placeholder="Search..." ng-model="search.$" />
        </div>
    </div>


    <div class="table-wrapper columns large-12 auto-scroller-y" quickheight="70">
        <table width="100%">
            <thead>
                <tr>
                    <th>Deck Name</th>
                    <th class="hide-for-small">Created time</th>
                    <th class="hide-for-small">Last update</th>
                    <th>
                        <a ng-click="addNewDeck(chosenCategory)">Add deck <i class="foundicon-plus"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="deck in decks|orderBy: reverse + resultOrder|limitRange:startLimit - 1:endLimit|filter: search">
                    <td>
                        <a ng-click="goToDeck([chosenCategory, deck.name])">
                            {{deck.name}}
                        </a>
                    </td>
                    <td class="hide-for-small">{{deck.created | date:'MMM d, y h:mm:ss'}}</td>
                    <td class="hide-for-small">{{deck.updated | date:'MMM d, y h:mm:ss'}}</td>
                    <td>
                        <a ng-click="edit([chosenCategory, deck.name])">
                            <i class="foundicon-edit"></i>
                            Edit
                        </a>
                        &nbsp;
                        <a style="color: #cc292c;" ng-click="delete([chosenCategory, deck.name])">
                            Delete
                            <i class="foundicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
