<div class="columns large-12">

    <h4 class="columns large-4">Categories</h4>

    <div class="columns large-8"><message></message></div>

    <div class="control-panel columns large-12">
        <div class="columns large-3">
            <div class="columns large-6 small-6">
                <input name="start-limit"
                       ng-model="startLimit"
                       type="number"
                       min="1"
                       max="{{endLimit}}"
                       />
            </div>
            <div class="columns large-6 small-6">
                <input name="end-limit"
                       ng-model="endLimit"
                       type="number"
                       min="{{startLimit}}"
                       max="{{categories.length}}"
                       />
            </div>
        </div>

        <div class="columns large-6">
            <span class="left columns large-2 small-2" style="text-align: right;">
                <strong>Sort:</strong>
            </span>
            <select name="order-by" ng-model="resultOrder" class="columns large-6 small-6">
                <option value="name">Name</option>
                <option value="created">Created time</option>
                <option value="updated">Last update</option>
            </select>

            <div class="columns large-4 small-4">
                <div class="inline left">
                    <label for="reverse">Reverse&nbsp;</label>
                </div>
                <div>
                    <input type="checkbox" name="reverse" value="ON" ng-model="reverseBool"/>
                </div>
            </div>
        </div>

        <div class="columns large-3">
            <input type="search" placeholder="Search..." ng-model="search.$" />
        </div>
    </div>

    <div class="table-wrapper columns large-12 auto-scroller-y" quickheight="70">
        <table width="100%">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th class="hide-for-small">Created time</th>
                    <th class="hide-for-small">Last update</th>
                    <th>
                        <a ng-click="addNewCategory()">Add category <i class="foundicon-plus"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categories|orderBy: reverse + resultOrder|limitRange:startLimit - 1:endLimit|filter: search">
                    <td>
                        <a ng-click="goToCategory(category.name)">
                            {{category.name}}
                        </a>
                    </td>
                    <td class="hide-for-small">{{category.created | date:'MMM d, y h:mm:ss'}}</td>
                    <td class="hide-for-small">{{category.updated | date:'MMM d, y h:mm:ss'}}</td>
                    <td>
                        <a ng-click="edit(category.name)">
                            <i class="foundicon-edit"></i>
                            Edit
                        </a>
                        &nbsp
                        <a style="color: #cc292c;" ng-click="delete(category.name)">
                            Delete
                            <i class="foundicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
