<div class="row">
    <div class="columns large-8 large-offset-2">
        <message></message>

        <h2>Synchronize</h2>
        <h4>Warning: all sync operations are irreversible.</h4>

        <div ng-show="pleaseWait">
            <h2>Please wait...</h2>
            <h1><i class="foundicon-smiley"></i></h1>
        </div>

        <div ng-show="showHome">
            <table width="100%">
                <thead>
                    <tr>
                        <th>Deck Name</th>
                        <th>
                            <a class="large-4 large-offset-4" ng-click="sync()">
                                Sync
                                <i class="foundicon-refresh"></i>
                            </a>
                        </th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="deck in decks" ng-show="deck.doc.name">
                        <td>{{deck.doc.name}}</td>
                        <td>
                            <form>
                                <label class="left large-3">
                                    Pull
                                    <input name="{{$index}}-sync-action" type="radio" ng-value="'pull'" ng-model="deck.syncAction" />
                                </label>
                                <label class="left large-3">
                                    Push
                                    <input name="{{$index}}-sync-action" type="radio" ng-value="'push'" ng-model="deck.syncAction" />
                                </label>
                                <label class="left large-3">
                                    Delete
                                    <input name="{{$index}}-sync-action" type="radio" ng-value="'delete'" ng-model="deck.syncAction" />
                                </label>
                                <label class="left large-3">
                                    No action
                                    <input name="{{$index}}-sync-action" type="radio" ng-value="'null'" ng-model="deck.syncAction" />
                                </label>
                            </form>
                        </td>
                        <td>{{deck.result}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>