/*******************************************************************************
    HTML
*******************************************************************************/

html {
}

h1, h2, h3, h4, h5, h6 {
}

.auto-scroller-y {
    overflow-y: auto;
}

.auto-scroller-x {
    overflow-x: auto;
}
canvas {
}

textarea {
    resize:vertical;
}

img {
    margin-top: 1em;
}

/*******************************************************************************
    FC-CLOSE: MESSAGE
*******************************************************************************/

.fc-close {
    font-size: 1.375em;
    padding: 5px 4px 4px;
    line-height: 0;
    position: absolute;
    top: 0.4375em;
    right: 0.3125em;
    color: #333;
    opacity: 0.3;
}

/*******************************************************************************
    BODY
*******************************************************************************/

body {
}

/*******************************************************************************
    TOP BAR
*******************************************************************************/

.top-bar {
    margin-bottom: 0;
}

/*******************************************************************************
    MAIN WRAPPER
*******************************************************************************/

#main-wrapper {
    max-width: 100%;
    padding-top: 1.875em;
}

/*******************************************************************************
    CARD WRAPPER
*******************************************************************************/

.wrapper-100 {
    margin-top: -1.875em;
    padding-top: 1.875em;
}

/*******************************************************************************
    TABLE-WRAPPER
*******************************************************************************/

.table-wrapper {
}

/*******************************************************************************
    TOP-CONTROLS: TABLE
*******************************************************************************/

#top-controls .button {
    margin-left: 5px;
}

/*******************************************************************************
    SELECTOR-COLUMN: CARD
*******************************************************************************/
#selector-column h1, #selector-column h2, #selector-column h3, #selector-column h4,
#selector-column h5, #selector-column h6 {
}
#selector-column {
    margin-top: -1.875em;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: whites;
}

#selector-column li.active a {
    text-decoration: underline;
}

#deck-selector {
    border-bottom: #d3d3d3 thick solid;
    overflow-y: scroll;
    padding: 5px;
}

#card-selector {
    overflow-y: scroll;
    padding: 5px;
}

/*******************************************************************************
    QUICK-SELECT
*******************************************************************************/

#quick-select {
    min-height: 310px;
}

/*******************************************************************************
    CARD-BOX
*******************************************************************************/

#card-box h1, #card-box h2, #card-box h3, #card-box h4,
#card-box h5, #card-box h6 {
}

#card-box-content {
    border-radius: 3px;
    border: 2px solid whitesmoke;
    padding: 1em 2em;
    margin-bottom: 1.5em;
    min-height: 350px;
    box-shadow: 5px 5px 3px #888888;
}

.striped-card {
    background: url(../images/flashcard-bg.gif);
}

/*******************************************************************************
    BOTTOM_CONTROLS: CARD
*******************************************************************************/

#bottom-controls {
}
#bookmark2 {
    margin-bottom: 1em;
}
