/*******************************************************************************
    BODY
*******************************************************************************/

body {
    background-color: #262626;
    color: whitesmoke;
}

/*******************************************************************************
    APP-HEADER
*******************************************************************************/

#app-header h1, #app-header h2, #app-header h3, #app-header h4,
#app-header h5, #app-header h6 {
    color: whitesmoke;
}
#app-header .button {
    margin-left: 5px;
}

/*******************************************************************************
    TOP-CONTROLS
*******************************************************************************/

#top-controls {
}

/*******************************************************************************
    QUICK-SELECT
*******************************************************************************/

#quick-select {
    background-color: whitesmoke;
    min-height: 310px;
}

/*******************************************************************************
    CARD-BOX
*******************************************************************************/

#card-box h1, #card-box h2, #card-box h3, #card-box h4,
#card-box h5, #card-box h6 {
    //color: whitesmoke;
}

#card-box-content {
    background-color: white;
    min-height: 200px;
    border-radius: 3px;
    padding: 2em;
    margin-bottom: 1.5em;
}

/*******************************************************************************
    BOTTOM_CONTROLS
*******************************************************************************/

#bottom-controls {
}
#bookmark2 {
    margin-bottom: 1em;
}
